.logo {
  font-family: $logo-fontfamily;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $primary-logo-color;

  &--white {
    color: $main-bgc-color;
  }
}

.logo__prefics {
  color: $accent-color;
}
