.modal {
  position: relative;
  transition: transform 250ms $main-cubic;
  width: 100%;
  background-color: #ffffff;
  padding: 40px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: inline-block;

  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: fill 250ms $main-cubic;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: $mobile-width-container) {
  .modal {
    width: 450px;
  }
}

@media screen and (max-height: 630px) {
  .modal {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: $mobile-width-container) and (min-height: 630px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    .backdrop.is-hidden & {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
}
