@keyframes amazingSend {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(-45deg);
  }

  25% {
    transform: translate(0, -80px);
  }

  50% {
    transform: translate(190px, 60px);
  }

  65% {
    transform: translate(0, 60px);
  }

  70% {
    transform: rotate(-45deg);
  }

  100% {
    transform: translate(0, 0);
  }
}

.animate__slideInLeft {
  animation-name: slideInLeft;
  animation-duration: 2000ms;
}
