$primary-text-color: #212121;
$primary-logo-color: #000000;
$main-bgc-color: #ffffff;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$header-contacts-color: #757575;
$bgc-hero-color: #2f303a;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$hover-color: #188ce8;
$bgc-team-color: #f5f4fa;
$main-fontfamily: "Roboto", sans-serif;
$logo-fontfamily: "Raleway", sans-serif;
$desktop-section-padding: 94px;
$mobile-section-padding: 60px;
$main-cubic: cubic-bezier(0.4, 0, 0.2, 1);

$mobile-width-container: 480px;
$tablet-width-container: 768px;
$desktop-width-container: 1200px;
